<body>
<app-header></app-header>
<div class="backgroundImage">
  <div>
    <div class="mainSlogan">
      <p class="slogan1">Discover the best food in City</p>
    </div>

    <select class="select" id="select">
      <option>select your location</option>
      <option>Chandigarh</option>
      <option>Himachal Pradesh</option>
      <option>Punjab</option>
      <option>Rajasthan</option>
      <option>Jaipur</option>
      <option>New Delhi</option>
      <option>Mumbai</option>
      <option>Bengaluru</option>
      <option>Goa</option>
      <option>Patna</option>
      <option>Kochi</option>
      <option>Thane</option>
      <option>Chennia</option>
      <option>Kolkata</option>
      <option>Agra</option>
      <option>Ahmedabad</option>
      <option>Jaipur</option>
      <option>varanasi</option>
      <option>Surat</option>
      <option>Lucknow</option>
      <option>Amritsar</option>
      <option>Bhopal</option>
      <option>Nagpur</option>
      <option>kanpur</option>
      <option>Jodhpur</option>
      <option>Coimbatore</option>
      <option>madurai</option>
      <option>Srinagar</option>
      <option>karnal</option>
    </select>
    <input (input)="search()" [(ngModel)]="searchText" class="searchBar select" placeholder="Search for restaurant"
           type="text">
    <button  (click)="clear()" id="btn">clear</button>

  </div>


  <div>

    <div class="marquee mt">
      <div class="marquee__content">
       Buy 1 Get 2  &nbsp;&nbsp;&nbsp;&nbsp; 50% Off &nbsp;&nbsp;&nbsp; Buy 1 Get 2 &nbsp;&nbsp;&nbsp;&nbsp;
       Buy 1 Get 2  &nbsp;&nbsp;&nbsp;&nbsp; 50% Off &nbsp;&nbsp;&nbsp; Buy 1 Get 2 &nbsp;&nbsp;&nbsp;&nbsp;
       Buy 1 Get 2  &nbsp;&nbsp;&nbsp;&nbsp; 50% Off &nbsp;&nbsp;&nbsp; Buy 1 Get 2 &nbsp;&nbsp;&nbsp;&nbsp;
       Buy 1 Get 2  &nbsp;&nbsp;&nbsp;&nbsp; 50% Off &nbsp;&nbsp;&nbsp; Buy 1 Get 2 &nbsp;&nbsp;&nbsp;&nbsp;
       Buy 1 Get 2  &nbsp;&nbsp;&nbsp;&nbsp; 50% Off &nbsp;&nbsp;&nbsp; Buy 1 Get 2 &nbsp;&nbsp;&nbsp;&nbsp;
       Buy 1 Get 2  &nbsp;&nbsp;&nbsp;&nbsp; 50% Off &nbsp;&nbsp;&nbsp; Buy 1 Get 2 &nbsp;&nbsp;&nbsp;&nbsp;

      </div>
    </div>
    <section id="cuisineTrending">
      <app-cuisine-carousel></app-cuisine-carousel>
    </section>

    <div class="marquee">
      <div class="marquee__content">
        Festival Offer &nbsp;&nbsp;&nbsp;&nbsp; 50% Off &nbsp;&nbsp;&nbsp;&nbsp;Festival Offer &nbsp;&nbsp;&nbsp;&nbsp;
        Festival Offer &nbsp;&nbsp;&nbsp;&nbsp; 50% Off &nbsp;&nbsp;&nbsp;&nbsp;Festival Offer &nbsp;&nbsp;&nbsp;&nbsp;
        Festival Offer &nbsp;&nbsp;&nbsp;&nbsp; 50% Off &nbsp;&nbsp;&nbsp;&nbsp;Festival Offer &nbsp;&nbsp;&nbsp;&nbsp;
        Festival Offer &nbsp;&nbsp;&nbsp;&nbsp; 50% Off &nbsp;&nbsp;&nbsp;&nbsp;Festival Offer &nbsp;&nbsp;&nbsp;&nbsp;
        Festival Offer &nbsp;&nbsp;&nbsp;&nbsp; 50% Off &nbsp;&nbsp;&nbsp;&nbsp;Festival Offer &nbsp;&nbsp;&nbsp;&nbsp;
        Festival Offer &nbsp;&nbsp;&nbsp;&nbsp; 50% Off &nbsp;&nbsp;&nbsp;&nbsp;Festival Offer &nbsp;&nbsp;&nbsp;&nbsp;

      </div>
    </div>

    <div class="r">
      <h1 id="r">Restaurant :</h1>
      <div class="flex">
        <div *ngFor="let restaurant of allRestaurant" class="card-container">
          <div class="card">
            <img alt="#" src="http://localhost:8082/restaurant-service/images/{{restaurant.resImage}}">
            <div class="pad">
              <h2>{{restaurant.restaurantName}}</h2>
              <h3>Location : {{restaurant.location}}</h3>
              <p>{{restaurant.restaurantName}} it is the best restaurant in {{restaurant.location}}, which serve's best food item. <br>
                Enjoy the flavour's of nature. Continue your diet and healthy and tasty meal in {{restaurant.restaurantName}}. </p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="card1">
      <h1>Top food's and places for you</h1>
      <app-cards></app-cards>
    </div>

  </div>


  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>

</body>

