<body>
    <div class="wrapper">
        <mat-icon (click)="onArrowClick($event)">arrow_back</mat-icon>
        <div class="carousel" (mousemove)="dragging($event)" (mousedown)="dragStart($event)" (mouseup)="dragStop()">
            <div class="cuisineImg">

                <img src="assets/images/Paneer%20Tikka.jpg" alt="#" draggable="false">
                <h3>Samosa</h3>
            </div>
            <div class="cuisineImg">
                <img src="assets/images/vegbiryani.png" alt="#" draggable="false">
                <h3>Biryani</h3>
            </div>
            <div class="cuisineImg">
                <img src="assets/images/Pizza.jpg" alt="#" draggable="false">
                <h3>Burger</h3>
            </div>
            <div class="cuisineImg">
                <img src="assets/images/chicken.png" alt="#" draggable="false">
                <h3>Chicken</h3>
            </div>
            <div class="cuisineImg">
                <img src="assets/images/Dumplings.jpg" alt="#" draggable="false">
                <h3>momo's</h3>
            </div>
            <div class="cuisineImg">
                <img src="assets/images/Taco.jpg" alt="#" draggable="false">
                <h3>Tacos</h3>
            </div>
            <div class="cuisineImg">
                <img src="assets/images/Fries.jpg" alt="#" draggable="false">
                <h3>Fries</h3>
            </div>
            <div class="cuisineImg">
                <img src="assets/images/Noodles.jpg" alt="#" draggable="false">
                <h3>Noodles</h3>
            </div>
            <div class="cuisineImg">
                <img src="assets/images/Burger.jpg" alt="#" draggable="false">
                <h3>Burger</h3>
            </div>
            <div class="cuisineImg">
                <img src="assets/images/Indian.jpg" alt="#" draggable="false">
                <h3>Thali</h3>
            </div>
            <div class="cuisineImg">
                <img src="assets/images/Pizza.jpg" alt="#" draggable="false">
                <h3>Pizza</h3>
            </div>
        </div>
        <mat-icon (click)="onArrowClick($event)">arrow_forward</mat-icon>
    </div>
</body>
