img{
    width: 100px;
    height: 64px;

}
a{
    color: white;
    text-decoration: none;
    margin-left: 50px;
}
.head{
    background-color: #ff5722;
}
.example-spacer {
    flex: 1 1 auto;
  }
.logo-text{
  color: #eeeeee;
  font-weight: bold;
  margin-left: 4px;
  font-family: "Lucida Fax";
}
