<app-user-login-header></app-user-login-header>


<div class="background">
  <div class="searchbar">
    <input (input)="search()" [(ngModel)]="searchText" placeholder="Search for restaurant" type="text">
    <button (click)="clear()">clear</button>
  </div>
</div>

<div class="carousel">
  <h1>Inspiration for your first order</h1>
  <div>
    <app-cuisine-carousel></app-cuisine-carousel>
  </div>
</div>

<div>
  <h1 style="background-color: beige; padding-left: 20px; font-size: 30px;">Restaurants : </h1>

  <div *ngFor="let restaurant of allRestaurant" class="card">
    <div class="card-image-container">
      <img alt="" class="card-image" src="http://localhost:8082/restaurant-service/images/{{restaurant.resImage}}">
    </div>
    <div style="padding: 10px;">
      <h1 class="card-info-heading"
          style="margin-bottom: -2px; margin-top: 5px; margin-left: -5px; font-size: 30px; font-weight: 600;">{{restaurant.restaurantName}}</h1>
      <h1 style="margin-bottom: -5px; margin-left: -5px;">{{restaurant.location}}</h1>
      <br/>
      <p class="card-info-para">
        {{restaurant.restaurantName}} it is the best restaurant in {{restaurant.location}}, which serve's best food
        item. <br>
        Enjoy the flavour's of nature. Continue your diet and healthy and tasty meal in {{restaurant.restaurantName}}.
      </p>
    </div>
    <button (click)="addResturantToFavourite(restaurant)" class="btn" style="margin-top: 5px;"><i
      class="fa fa-heart" style="font-size: 30px;"></i></button>
  </div>
</div>

<div>
  <h1 style="background-color: beige; padding-left: 20px; font-size: 30px;">Dishes : </h1>

  <div *ngFor="let dish of allDishes let index=index" class="card">
    <div class="card-image-container">
      <img alt="" class="card-image" src="http://localhost:8082/restaurant-service/dishImages/{{dish.dishImage}}">
    </div>
    <div style="padding: 10px;">
      <h1 class="card-info-heading"
          style="margin-bottom: -2px; margin-top: 5px; margin-left: -5px; font-size: 30px; font-weight: 600;">{{dish.dishName}}</h1>
      <h1 style="margin-bottom: -5px; margin-left: -5px;">{{dish.type}}</h1>
      <h3>&#8377; {{dish.dishPrice}}</h3>
      <h3>Quantity : <input id="n{{index}}" min="1" type="number" value="1"></h3>
      <br/>
    </div>
    <button (click)="addDishToFavourite(dish)" class="btn1" style="margin-top: 5px;"><i class="fa fa-heart"
                                                                                        style="font-size: 20px;"></i>
    </button>
    <button (click)="addToCart(dish,index)" class="btn2" id="i" style="margin-top: 5px;"><span class="material-icons">
            add_shopping_cart
            </span></button>
  </div>
</div>
